<!--= <div >
    <p-dropdown [options]="colors "  [(ngModel)]="selectedColor" 
    (onChange)="subClassData(id)"   placeholder="Sub Class"></p-dropdown>
   <div><plotly-plot [data]="traces" [layout]="layout"></plotly-plot></div>
</div>

<plotly-plot class="first" [data]="barChartData"    [layout]="layouts"></plotly-plot>
<plotly-plot class="secound" [data]="pieChartData1" [layout]="layouts"></plotly-plot>
<plotly-plot class="fourth" [data]="donut" [layout]="layoutss"></plotly-plot>
<plotly-plot  [data]="outHover" [layout]="layoutsss"></plotly-plot> -->

<!-- <div class="container" >
   <p-dropdown
    [options]="colors"
    (onChange)="subClassData( id)"
    [(ngModel)]="selectedSubClass"
    placeholder="Sub Class"
   ></p-dropdown> 
  <p-button
    label="Auto Scale"
    (click)="getReports()"
    styleClass="p-button-raised p-button-text p-button-secondary"
  ></p-button>
  <div class="row"  >
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ barChartD?.total_vehicle_processed }}</h5>
          <p class="card-text">Total Vehicle Processed</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ barChartD?.total_ticketed_matches_identified }}
          </h5>
          <p class="card-text">Total Ticketed Matches Identified</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ barChartD?.total_wanted_matches_identified }}
          </h5>
          <p class="card-text">Total Wanted Matches Identified</p>
        </div>
      </div>
    </div>
    <div class="row"  style="height: 430px; overflow-y: scroll;">
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
           <div class="p-field-radiobutton"> 
             <p-radioButton name="pie1" value="pie" label="pie"  (click)="piechart()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton name="bar" value="bar" label="bar" (click)="piechart()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
          </div>
          <div id="pie-chart">
            <plotly-plot
              class="first"
              [data]="barChartData1"
              [layout]="barLayout1"
            ></plotly-plot>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="p-field-radiobutton"> 
            <p-radioButton name="pie1" value="pie1" label="pie"  (click)="piechart2()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
         </div>
         <div class="p-field-radiobutton">
           <p-radioButton name="bar1" value="bar1" label="bar" (click)="piechart2()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
         </div>
          <div>
            <plotly-plot
              class="first"
              [data]="barChartData2"
              [layout]="barLayout2"
            ></plotly-plot>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3" >
      <div class="card">
        <div class="card-body">
          <div class="p-field-radiobutton"> 
            <p-radioButton name="pie1" value="pie2" label="pie"  (click)="piechart3()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
         </div>
         <div class="p-field-radiobutton">
           <p-radioButton name="bar1" value="bar2" label="bar" (click)="piechart3()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
         </div>
          <div >
            <plotly-plot
              class="secound"
              [data]="pieChartData2"
              [layout]="pieChartLayout"
            ></plotly-plot>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <div id="line-chart"></div>
          <p class="card-text">Wanted Matches Identified</p>
          <div class="p-field-radiobutton"> 
            <p-radioButton name="pie1" value="pie3" label="pie"  (click)="piechart4()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
         </div>
         <div class="p-field-radiobutton">
           <p-radioButton name="bar1" value="bar3" label="bar" (click)="piechart4()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
         </div>
          <plotly-plot
            [data]="pieChartData3"
            [layout]="pieChartLayout3"
          ></plotly-plot>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <div id="area-chart"></div>
          <p class="card-text">Percentage Operations Processed</p>
          <div class="p-field-radiobutton"> 
            <p-radioButton name="pie1" value="pie4" label="pie"  (click)="piechart5()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
         </div>
         <div class="p-field-radiobutton">
           <p-radioButton name="bar1" value="bar4" label="bar" (click)="piechart()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
         </div>
        </div>
        <div>
          <plotly-plot [data]="donut" [layout]="layoutsDonut"></plotly-plot>
        </div>
      </div>
    </div>
  </div>
  </div>
</div> -->


<!-- ======================================= new -->

  <div class="container"  >
  
   <p-dropdown
   [options]="newColor"
   (onChange)="getId($event)"
   [(ngModel)]="selectedClass"
   placeholder="Category"
></p-dropdown>  
<p-dropdown [options]="subCategoryOption" (onChange)="subClassData2($event)"
[(ngModel)]="selectedCategoryClass" placeholder="Sub Category"></p-dropdown>
<p-button
   label="Auto Scale" (click)="autoScale()"
   styleClass="p-button-raised p-button-text p-button-secondary"
 ></p-button>
 <div class="row"  >
   <div class="col-md-6 col-lg-4 mb-3">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">{{ totalRecordData?.total_vehicle_processed }}</h5>
         <p class="card-text">Total Vehicle Processed</p>
       </div>
     </div>
   </div>
   <div class="col-md-6 col-lg-4 mb-3">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">
          {{ totalRecordData?.total_ticketed_matches_identified }}
         </h5>
         <p class="card-text">Total Ticketed Matches Identified</p>
       </div>
     </div>
   </div>
   <div class="col-md-6 col-lg-4 mb-3">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">
          {{ totalRecordData?.total_wanted_matches_identified }}
         </h5>
         <p class="card-text">Total Wanted Matches Identified</p>
       </div>
     </div>
   </div>
   <div class="row"  style="height: 450px; overflow-y: scroll;">
   <div class="col-md-6 col-lg-4 mb-3">
     <div class="card">
       <div class="card-body">
        <div class="p-field-radiobutton"> 
          <p-radioButton name="pie1" value="pie" label="pie"  (click)="piechart()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
       </div>
       <div class="p-field-radiobutton">
         <p-radioButton name="bar" value="bar" label="bar" (click)="piechart()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
       </div>
          <div id="pie-chart">
           <plotly-plot
             class="first"
             [data]="barChartData1"
             [layout]="barLayout1"
           ></plotly-plot>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-6 col-lg-4 mb-3">
     <div class="card">
       <div class="card-body">
        <div class="p-field-radiobutton"> 
          <p-radioButton name="pie1" value="pie1" label="pie"  (click)="piechart2()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
       </div>
       <div class="p-field-radiobutton">
         <p-radioButton name="bar1" value="bar1" label="bar" (click)="piechart2()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
       </div>
         <div>
           <plotly-plot
             class="first"
             [data]="barChartData2"
             [layout]="barLayout2"
           ></plotly-plot>
         </div>
       </div>
     </div>
   </div>
  
   <div class="col-md-6 col-lg-4 mb-3" >
     <div class="card">
       <div class="card-body">
        <div class="p-field-radiobutton"> 
          <p-radioButton name="pie1" value="pie2" label="pie"  (click)="piechart3()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
       </div>
       <div class="p-field-radiobutton">
         <p-radioButton name="bar1" value="bar2" label="bar" (click)="piechart3()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
       </div>
         <div >
           <plotly-plot
             class="secound"
             [data]="pieChartData2"
             [layout]="pieChartLayout"
           ></plotly-plot>
         </div>
       </div>
     </div>
   </div>

   <div class="col-md-6 mb-3">
     <div class="card">
       <div class="card-body">
         <div id="line-chart"></div>
         <p class="card-text">Wanted Matches Identified</p>
         <div class="p-field-radiobutton"> 
          <p-radioButton name="pie1" value="pie3" label="pie"  (click)="piechart4()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
       </div>
       <div class="p-field-radiobutton">
         <p-radioButton name="bar1" value="bar3" label="bar" (click)="piechart4()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
       </div>
         <plotly-plot 
         [data]="pieChartData3"
         [layout]="pieChartLayout3"
       ></plotly-plot>
       </div>
     </div>
   </div>
   <div class="col-md-6 mb-3">
     <div class="card">
       <div class="card-body">
         <div id="area-chart"></div>
         <p class="card-text">Percentage Operations Processed</p>
         <div class="p-field-radiobutton"> 
          <p-radioButton name="pie1" value="pie4" label="pie"  (click)="piechart5()" [(ngModel)]="chartType" inputId="pie"></p-radioButton>
       </div>
       <div class="p-field-radiobutton">
         <p-radioButton name="bar1" value="bar4" label="bar" (click)="piechart5()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
       </div>
       </div>
       <div>
         <plotly-plot [data]="donut" [layout]="layoutsDonut"></plotly-plot>
       </div>
     </div>
   </div>
 </div>
 </div>
</div>  
  <!-- <p-dropdown
    [options]="newColor"
    (onChange)="ClassData($event)"
    [(ngModel)]="selectedSubClass"
    placeholder="Sub Class"
   ></p-dropdown>  -->