<!-- <div >
    <p-dropdown [options]="colors "  [(ngModel)]="selectedColor" 
    (onChange)="subClassData(id)"   placeholder="Sub Class"></p-dropdown>
   <div><plotly-plot [data]="traces" [layout]="layout"></plotly-plot></div>
</div>

<plotly-plot class="first" [data]="barChartData"    [layout]="layouts"></plotly-plot>
<plotly-plot class="secound" [data]="pieChartData1" [layout]="layouts"></plotly-plot>
<plotly-plot class="fourth" [data]="donut" [layout]="layoutss"></plotly-plot>
<plotly-plot  [data]="outHover" [layout]="layoutsss"></plotly-plot> -->

<div class="container" >
   <p-dropdown
    [options]="colors"
    (click)="subClassData( id)"
    [(ngModel)]="selectedSubClass"
    placeholder="Sub Class"
    ></p-dropdown> 
  <!-- <p-dropdown
  [options]="chartOption"
  (onChange)="changeType(id)"
  [(ngModel)]="selectedChart"
  placeholder="Select Chart"
></p-dropdown> -->
  <p-button
    label="Auto Scale"
    (click)="getReports()"
    styleClass="p-button-raised p-button-text p-button-secondary"
  ></p-button>
  <div class="row"  >
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ barChartD?.total_vehicle_processed }}</h5>
          <p class="card-text">Total Vehicle Processed</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ barChartD?.total_ticketed_matches_identified }}
          </h5>
          <p class="card-text">Total Ticketed Matches Identified</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ barChartD?.total_wanted_matches_identified }}
          </h5>
          <p class="card-text">Total Wanted Matches Identified</p>
        </div>
      </div>
    </div>
    <div class="row"  style="height: 700px; overflow-y: scroll;">
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
           <div class="p-field-radiobutton"> 
             <p-radioButton name="pie1" value="pie" label="pie"  (click)="piechart()"[(ngModel)]="chartType" inputId="pie"></p-radioButton>
            <!-- <label for="pie">pie</label> -->
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton name="bar1" value="bar" label="bar" (click)="piechart()" [(ngModel)]="chartType" inputId="bar"></p-radioButton>
            <!-- <label for="bar">bar</label> -->
          </div>
          <div id="pie-chart">
            <plotly-plot
              class="first"
              [data]="barChartData1"
              [layout]="barLayout1"
            ></plotly-plot>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div>
            <plotly-plot
              class="first"
              [data]="barChartData2"
              [layout]="barLayout2"
            ></plotly-plot>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3" >
      <div class="card">
        <div class="card-body">
          <div >
            <plotly-plot
              class="secound"
              [data]="pieChartData2"
              [layout]="pieChartLayout"
            ></plotly-plot>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <div id="line-chart"></div>
          <p class="card-text">Wanted Matches Identified</p>
          <plotly-plot
            [data]="pieChartData3"
            [layout]="pieChartLayout3"
          ></plotly-plot>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <div id="area-chart"></div>
          <p class="card-text">Percentage Operations Processed</p>
        </div>
        <div>
          <plotly-plot [data]="donut" [layout]="layoutsDonut"></plotly-plot>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div>
